# Template for tests

This is a text file that contains a marker that will be replaced by a value by
the Template util.

value = ${test_value}

#{IF test_2_value} 
test_2_value = ${test_2_value}
#{ENDIF} 

#{IF test_3_value} 
test_3_value = ${test_3_value}
#{ENDIF} 

