#!/usr/bin/make -f
export DH_VERBOSE=1
export PYTHONDONTWRITEBYTECODE=y
export PYBUILD_INSTALL_ARGS_python3=--install-lib=/usr/lib/python3/dist-packages

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_clean
	rm -rf build .*egg-info

