[Desktop Entry]
Name=GECOS Config Assistant
Comment=GECOS Config Assistant application
Categories=Preferences;Settings;
Exec=gecos-config-assistant-launcher
X-GNOME-Autostart-Delay=3
X-GNOME-Autostart-Phase=Desktop
Icon=/usr/share/gecosws-config-assistant/media/wizard1.png
Terminal=false
Type=Application
